body {
  background-color: black;
  margin: 0;
  padding: 0;
  
}
.genres {
  
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
}
.footer{
  display: flex;
  flex-direction: column;
}
.carousel-control-prev {
  width: 25px;
}
.carousel-control-next {
  width: 25px;
}
.carousel-inner{
  overflow: visible;
}
.card {
  width: 100%;
  z-index: 0;
  padding: 2 2px;
  transition: transform 500ms ease-in-out;
}

.card:hover {
  transform: scale(1.2);
  z-index: 2;
padding: 2 2px;
  position: relative;
}

@media screen and (max-width : 980px){
  .nascondi
  {
    overflow-x: hidden;
  }
}